<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
  <div class="article-inner">
    <header class="article-header">
      <h1 class="article-title">
        <%= post.title %>
      </h1>
      <div class="article-meta">
        <a class="article-category-link" href="<%- url_for(post.categories.first().path) %>"><%-
            post.categories.first().name %></a>
        <span class="article-date">
          公開日:<time datetime="<%= date_xml(post.date) %>">
            <%= date(post.date, null) %>
          </time>
        </span>
      </div>
    </header>
    <div class="article-entry">
      <%- post.content %>
    </div>
    <footer class="article-footer">
      <a href="https://twitter.com/intent/tweet?text=<%- encodeURIComponent(post.title) %>%20%7C%20<%- encodeURIComponent(post.categories.first().name) %>%20%7C%20kido tech blog%0a&url=<%- encodeURIComponent(post.permalink) %>"
        class="article-share-twitter" target="_blank" title="Twitter">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path
            d="M512 113.2c-18.8 8.4-39.1 14-60.3 16.5 21.7-13 38.3-33.6 46.2-58.1-20.3 12-42.8 20.8-66.7 25.5-19.2-20.4-46.5-33.1-76.7-33.1-58 0-105 47-105 105 0 8.2 0.9 16.2 2.7 23.9-87.3-4.4-164.7-46.2-216.5-109.8-9 15.5-14.2 33.6-14.2 52.8 0 36.4 18.5 68.6 46.7 87.4-17.2-0.5-33.4-5.3-47.6-13.1 0 0.4 0 0.9 0 1.3 0 50.9 36.2 93.4 84.3 103-8.8 2.4-18.1 3.7-27.7 3.7-6.8 0-13.3-0.7-19.8-1.9 13.4 41.7 52.2 72.1 98.1 73-36 28.2-81.2 45-130.5 45-8.5 0-16.8-0.5-25.1-1.5 46.6 29.9 101.8 47.2 161.1 47.2 193.2 0 298.9-160.1 298.9-298.9 0-4.6-0.1-9.1-0.3-13.6 20.5-14.7 38.3-33.2 52.4-54.3z">
          </path>
        </svg>
      </a>
      <a href="https://www.facebook.com/sharer.php?u=<%- encodeURIComponent(post.permalink) %>"
        class="article-share-facebook" target="_blank" title="Facebook">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
          <path
            d="M304 96h80v-96h-80c-61.757 0-112 50.243-112 112v48h-64v96h64v256h96v-256h80l16-96h-96v-48c0-8.673 7.327-16 16-16z">
          </path>
        </svg>
      </a>
    </footer>
  </div>
</article>

<% if (!index){ %>
  <section class="archives-wrap">
    <div class="archive-title-wrap">
      <span class="archive-title">
        <%= post.categories.first().name %>カテゴリの記事
      </span>
    </div>
    <div class="archives">
      <% site.categories.findOne({name: post.categories.first().name}).posts.sort('date', -1).each(function(p, i) { %>
        <% if(p.title==post.title) return; %>
          <%- partial('archive-post', {post: p}) %>
            <% })%>
    </div>
  </section>
  <% } %>